body {
    padding-top: 5rem;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 20px;
}
span{
    color: rgb(168, 0, 0);
}
p{

}
input{
    margin-bottom: 20px;
    width: 450px;
}
textarea{
    height: 100px;
    width: 450px;
}

.flashes{
    list-style-type: none;
    padding: 0;
    font-weight: bold;
    color: white;
}
.danger{
    background-color: red;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.success{
    background-color: green;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}